.header {
  height: 60px;
  display: flex;
  align-items: center;
  background-color: white;
  color: black;
  position: sticky;
  top: 0;
  z-index: 100;
  justify-content: space-between;
  padding: 0 40px;
  border-bottom: 1px solid;
}

.logo__container {
  display: flex;
  font-size: 0.8rem;
  width: 200px;
  text-decoration: none;
  color: black;

  .header__logo {
    object-fit: contain;
    margin: -2px 5px 0 20px;
    color: rgb(255, 0, 64);

    &:hover {
      color: rgb(98, 0, 255);
    }
  }
}

.header__search {
  display: flex;
  flex: 1;
  align-items: center;
  border-radius: 24px;
  justify-content: center;
}

.header__searchInput {
  height: 12px;
  padding: 10px;
  border: none;
  width: 80%;
  border: solid 1px;
  border-bottom-left-radius: 10px;
  border-right: none;

  &:focus {
    outline: none;
  }
}

.header__searchIcon {
  padding: 5px;
  height: 22px !important;
  background-color: rgb(255, 0, 64);
  border-right: 1px solid;
  border-top: 1px solid;
  border-top-right-radius: 10px;
  border-bottom: 1px solid;
}

.header__optionLineOne {
  font-size: 10px;
  color: rgb(255, 0, 64);
  &:hover {
    color: rgb(98, 0, 255);
  }
}

.header__optionLineTwo {
  font-size: 13px;
  font-weight: 800;
}

.header__optionBasket {
  display: flex;
  align-items: center;
  color: rgb(255, 0, 64);
}

.header__basketCount {
  margin-left: 10px;
  margin-right: 10px;
}

.header__nav {
  display: flex;
  justify-content: space-evenly;
}

.header__option {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  margin-right: 10px;
  color: black;
}
