.product {
  display: flex;
  flex-direction: column;
  //background-color: #0e274b;
  background-color: white;
  z-index: 1;
  align-items: center;
  justify-content: flex-end;
  margin: 10px;
  padding: 20px;
  width: 100%;
  max-height: 400px;
  min-width: 100px;
  color: black;
  position: relative;
  text-align: center;

  &:hover {
    img {
      transition: transform 0.3s ease-in-out;
      transform: scale(1.1);
    }
  }

  img {
    max-height: 200px;
    width: 90%;
    object-fit: contain;
    margin-bottom: 15px;
    margin-top: 15px;
    transition: all 0.4s ease-in-out;
  }

  .product__price {
    margin-top: 5px;
  }

  .product__info {
    height: 100px;
    margin-bottom: 15px;

    .product__title {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 2rem 0 0 0;
    }
  }

  button {
    background: white;
    border: 1px solid;
    margin-top: 30px;
    border-color: #ff0040;
    color: #111;
    padding: 2px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 110px;

    &:hover {
      background: #ff0040;
      color: white;
    }

    &:focus {
      outline: none;
    }
  }

  .product__rating {
    display: flex;
    justify-content: center;
  }

  .product__display {
    position: absolute;
    background: white;
    width: 500px;
    height: 0px;
    color: black;
    display: block;
    opacity: 0;
    transition: opacity 0.4s ease-in-out;
  }

  .display__active {
    transition: opacity 0.4s ease-in-out;
    opacity: 1;
    height: 300px;
    background: #ff0040;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 1rem;
  }
}
