.subtotal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 300px;
  height: 100px;
  margin: 10px 0;
  padding: 20px;
  background-color: #f3f3f3;
  border: 1px solid #dddddd;
  border-radius: 3px;
  color: black;
}

button {
  background-color: rgb(255, 0, 64);
  border: none;
  padding: 5px;
  position: relative;
  bottom: 5px;
  border: 1px solid;
  &:hover {
    background: rgba(252, 255, 77, 0.726);
    color: black;
  }
}

.subtotal__gift {
  display: flex;
  align-items: center;
  position: relative;
  margin: 1rem;
}
